<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/script %>

    <script src="javascript/socket.io.js"></script>
    <script src="javascript/socket.io-stream.js"></script>

    <link rel="stylesheet" href="/stylesheets/buildstatus.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="javascript/jquery.min.js"></script>

    <!--  ADD later.. <script src="javascript/menu.js"></script>  -->

    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <script src="javascript/semantic/semantic.js"></script>

    <script src="javascript/moment.min.js"></script>

  <!-- tar bort bootstap css.. blir de finare??  <% include partials/head %>  -->
</head>
<body class="contact-background-image">

<div class="row">
    <div class="column">
        <br id="main-container" style="padding-left: 50px">

    </div>
</div>

<div class="ui four cards" id="ongoingTasksContainer" style="padding-left: 50px;">
</div>

<script>

    $(document).ready(function() {

        // Update the bootstrap grid once the tasks are added
        function updateTaskContainerHead(containerId, jenkins_reff) {
            let containerHead = document.getElementById(containerId);
            // Take the row headings and make an HTML container out of them

            // Parameter man behöver för varje REF
            //
            // Tool: använder detta tool converter: http://pojo.sodhanalibrary.com/ConvertToVariable
            //
            // ID, tid osv.. så man ta bort och lägga till?.. hur uppdaterar man allt..?

            $('<div class="ui card" style="width: 809px;">'+
                '    <div class="content" style="background-color: lightgreen">'+
                ''+
                '        <h2 class="ui tiny icon header">'+
                '            <i class="desktop icon"></i>'+
                '            <div class="ui header">'+jenkins_reff.reff_name+'</div>'+
                '        </h2>'+
                '    </div>'+
                ''+
                ''+
                '    <div class="content">'+
                ''+
                '        <div class="event">'+
                '            <div class="content">'+
                '                <div class="ui massive message">'+
                '                  <i class="clock icon imuststyle"></i><div id="timer_'+jenkins_reff.getJobInfo.displayName+'"></div>'+
                '                    <div>Estimated duration: '+ moment.utc(jenkins_reff.getLastBuildInfo.estimatedDuration).format('HH [hours] mm [min]') + '</div>' +
                '                    <div>Job started: '+ moment.utc(jenkins_reff.getLastBuildInfo.timestamp).format(('dddd, MMMM Do YYYY, h:mm:ss a')) + '</div>' +
                '                </div>'+
                '            </div>'+
                '        </div>'+
                ''+
                '        <h4 class="ui sub header">Build name</h4>'+
                '        <div class="ui medium feed">'+
                '            <div class="event">'+
                '                <div class="content">'+
                ''+
                '                    <table class="ui definition table">'+
                '                        <tbody>'+
                '                        <tr>'+
                '                            <td class="two wide column">Modulename</td>'+
                '                            <td>Failed</td>'+
                '                        </tr>'+
                '                        <tr>'+
                '                            <td>Modulename</td>'+
                '                            <td>Failed</td>'+
                '                        </tr>'+
                '                        <tr>'+
                '                            <td>Modulename</td>'+
                '                            <td>Failed</td>'+
                '                        </tr>'+
                '                        <tr>'+
                '                            <td>Modulename</td>'+
                '                            <td>Failed</td>'+
                '                        </tr>'+
                '                        </tbody>'+
                '                    </table>'+
                ''+
                '                </div>'+
                '            </div>'+
                ''+


                '<div class="FixedHeightContainer">' +
                '<pre id="out_'+ jenkins_reff.getJobInfo.displayName +'" class="Content"></pre>' +
                '</div>' +

                ''+
                '            <div class="ui two column grid" style="padding-bottom: 10px">'+
                ''+
                '                <div class="column">'+
                '                    <div class="event">'+
                '                        <div class="content">'+
                ''+
                '                            <div class="ui statistics">'+
                '                                <div class="red statistic">'+
                '                                    <div class="value">'+
                '                                        3'+
                '                                    </div>'+
                '                                    <div class="label">'+
                '                                        builds have failed'+
                '                                    </div>'+
                '                                </div>'+
                '                            </div>'+
                '                        </div>'+
                '                    </div>'+
                '                </div>'+
                ''+
                ''+
                '                <div class="column">'+
                '                    <div class="event">'+
                '                        <div class="content">'+
                ''+
                '                            <div class="ui statistics">'+
                '                                <div class="green statistic">'+
                '                                    <div class="value">'+
                '                                        7'+
                '                                    </div>'+
                '                                    <div class="label">'+
                '                                        builds have succeed'+
                '                                    </div>'+
                '                                </div>'+
                '                            </div>'+
                '                        </div>'+
                '                    </div>'+
                '                </div>'+
                '            </div>'+
                ''+
                ''+
                '            <div class="content">'+
                ''+
                '                <div class="event">'+
                '                    <div class="content">'+
                ''+
                '                        <div class="ui relaxed divided list">'+
                '                            <div class="item">'+
                '                                <i class="large jenkins middle aligned icon"></i>'+
                '                                <div class="content">'+
                '                                    <div class="description">'+jenkins_reff.getJobInfo.displayName+'</div>'+
                '                                </div>'+
                '                            </div>'+
                '                            <div class="item">'+
                '                                <i class="large jenkins middle aligned icon"></i>'+
                '                                <div class="content">'+
                '                                    <div class="description">Last stable build: #'+JSON.stringify(jenkins_reff.getJobInfo.lastStableBuild.number)+'</div>'+
                '                                </div>'+
                '                            </div>'+
                '                            <div class="item">'+
                '                                <i class="large jenkins middle aligned icon"></i>'+
                '                                <div class="content">'+
                '                                    <div class="description">Last successful build (#23), 1 days 0 hr ago</div>'+
                '                                </div>'+
                '                            </div>'+
                ''+
                '                                <div class="item">'+
                '                                    <i class="large jenkins middle aligned icon"></i>'+
                '                                    <div class="content">'+
                '                                        <div class="description">Last failed build (#20), 1 days 2 hr ago</div>'+
                '                                    </div>'+
                '                                </div>'+
                '                                <div class="item">'+
                '                                    <i class="large jenkins middle aligned icon"></i>'+
                '                                    <div class="content">'+
                '                                        <div class="description">Last unsuccessful build (#20), 1 days 2 hr ago</div>'+
                '                                    </div>'+
                '                                </div>'+
                '                                <div class="item">'+
                '                                    <i class="large jenkins middle aligned icon"></i>'+
                '                                    <div class="content">'+
                '                                        <div class="description">Last completed build (#23), 1 days 0 hr ago</div>'+
                '                                    </div>'+
                '                                </div>'+
                ''+
                '                          </div>'+
                '                        </div>'+
                '                    </div>'+
                '                </div>'+
                ''+
                '        </div>'+
                '    </div>'+
                '</div>'
            )
                .appendTo(containerHead);}


        $(function() {              // BYT mot Serverns. IP.........
            var socket = io.connect('http://localhost:3000');

            var clear_console_reff1 = false
            var clear_console_reff2 = false

            var jenkins_info

            var reff1_url = "http://10.68.108.164:8080" // reff 1 - no psw
            var reff2_url = "http://10.68.108.166:8080"

            socket.on("connect",function() {
                console.log("on connect");

                ss(socket).on('jenkins_info', function(stream,data) {

                    // vill egentligen bara byta ut just den reffen som får ny data..men nu byts alla ut..ändra sen..
                    $('#ongoingTasksContainer').empty();

                    jenkins_info = JSON.parse(data);

                    console.log("getting jenksin:" + jenkins_info)

                    // problem!! eftersom jag ritar OM jenkins.. så försvinner ÄVER loggen som fanns från när bygget kördes precis!!!

                    for (const jenkins_reff of jenkins_info.reffar) {

                        updateTaskContainerHead('ongoingTasksContainer', jenkins_reff);

                        function startTimer(element,timestamp)
                        {
                            var startTimestamp = timestamp
                            setInterval(function() {
                                startTimestamp.add(1, 'second');

                                $('#timer_' + element).html(startTimestamp.format('HH:mm:ss'))

                            }, 1000);
                        }

                        var now = moment()
                        var then = moment(jenkins_reff.getLastBuildInfo.timestamp)
                        var time_since =  moment.utc(now.diff(then))

                        startTimer(jenkins_reff.getJobInfo.displayName,time_since);
                    }
                });

                ss(socket).on(reff1_url, function(stream,data) {

                    if(clear_console_reff1)
                    {
                        $("#out_"+ jenkins_info.reffar[0].getJobInfo.displayName).empty()
                        clear_console_reff1 = false
                        console.log("clearing console...")
                    }

                    $("#out_"+ jenkins_info.reffar[0].getJobInfo.displayName).append(data) //.replace(/(?:\r\n|\r|\n)/g, '<br>'))

                    var element = document.getElementById("out_" + jenkins_info.reffar[0].getJobInfo.displayName); // always scroll to the end of textbox
                    element.scrollTop = element.scrollHeight;
                });

                ss(socket).on('end:'+ reff1_url, function(stream,data) {

                    clear_console_reff1 = true

                    console.log("i got this to clear: "+ data)
                });

                // Remove duplication of code asap.. DRY :-/
                ////////////////////////////////////////////

                ss(socket).on(reff2_url, function(stream,data) {

                    if(clear_console_reff2)
                    {
                        $("#out_"+ jenkins_info.reffar[1].getJobInfo.displayName).empty()
                        clear_console = false
                    }

                    $("#out_"+ jenkins_info.reffar[1].getJobInfo.displayName).append(data)

                    var element = document.getElementById("out_" + jenkins_info.reffar[1].getJobInfo.displayName); // always scroll to the end of textbox
                    element.scrollTop = element.scrollHeight;
                });

                ss(socket).on('end:'+ reff2_url, function(stream,data) {

                    clear_console_reff2 = true

                    console.log("i got this to clear: "+ data)
                });
            });
        });
    });
 </script>
</body>
</html>
