<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/script %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/diff-folders.css">

    <link href="/stylesheets/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet"> <!--load all styles -->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="/stylesheets/text_search_style.css">

    <% include partials/head %>
</head>
<body>




<div class="row">
    <div class="column">
        <br id="main-container" style="padding-left: 50px">
        <% include partials/menu %>
    </div>
</div>



<p></p>
<p>TODO: 1) sätt tillbaka så man Ser root checkboxes.. sen när man väljer en så väljs alla filer under automatiskt.. sen körs en diff för varje likadan fil. lång diff vy under??</p>
<p></p>

<div class="ui two column grid">
    <div class="row">
        <div class="column">
            <div id="container"></div>
        </div>

        <div class="column">
            <div id="container2"></div>
        </div>
    </div>
</div>


<div class="ui one column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column"><div style="width:95%" id="display3"></div></div>
        <div class="column"></div>
    </div>
</div>




<script>


    var filedata = JSON.parse('<%- JSON.stringify(jstree) %>');

    $('#container').jstree({
        'core' : {

  //          "themes" : {                   <--- Remove comments to make tree larger...
  //              "variant" : "large"
  //          },
          'multiple' : false,
          'data' : filedata
        },

        "checkbox" : {
            "keep_selected_style" : false
        },
        "plugins" : [ "wholerow", "checkbox" ]
    });

    $('#container2').jstree({
        'core' : {

            //          "themes" : {                   <--- Remove comments to make tree larger...
            //              "variant" : "large"
            //          },
            'multiple' : false,
            'data' : filedata
        },

        "checkbox" : { three_state: false,
                       keep_selected_style : false, cascade: 'up'
        },
        "plugins" : [  "checkbox" ]
    });


    $('#container').on('changed.jstree', function (e, data) {
        var path = data.instance.get_path(data.node,'/');
        console.log('Selected: ' + path);

        var selectedSecondFile = $('#container2').jstree(true).get_selected()[0]  // för att få hela pathen...

        if (selectedSecondFile !== "" && selectedSecondFile !== null && selectedSecondFile !== undefined)
        {
            $("#display3").empty()
            makeDiff(path, selectedSecondFile)
        }
    })

    $('#container2').on('changed.jstree', function (e, data) {
        var path = data.instance.get_path(data.node,'/');
        console.log('Selected from 2: ' + path);

        var selectedFirstFile = $('#container').jstree(true).get_selected()[0]

        var lastChar = path.substr(-1); // Selects the last character

        if (selectedFirstFile !== "" && selectedFirstFile !== null && selectedFirstFile !== undefined)
        {
            $("#display3").empty()
            makeDiff(selectedFirstFile, path)
        }
    })

    function makeDiff(firstFile, secondFile)
    {
        var return_first;
        var return_second;

        function callback(response) {
            return_first = response;
            //use return_first variable here
        }

        function callback_second(response) {
            return_second = response;
            //use return_first AND return_second variable here
            createDiff(JSON.stringify(return_first, null, 1),JSON.stringify(return_second, null, 1))
        }


        // set URL different...NOT static...get url used right now..
        $.ajax({
            type: 'GET',
            url: '/data/'+ firstFile,
            'success': function(data){
                callback(data);

                $.ajax({
                    type: 'GET',
                    url: '/data/' + secondFile,
                    'success': function(data){
                        callback_second(data);
                    },
                    error: function(xhr, status, err) {
                        console.log(xhr.responseText);
                    }
                });
            },
            error: function(xhr, status, err) {
                console.log(xhr.responseText);
            }
        });
    }


    function createDiff(one, other){

        // rubrik                kan va vad som helst...
        var diff = JsDiff.createPatch('fileName', one, other, 'oldHeader', 'newHeader');

        const targetElement = document.getElementById('display3');
        const configuration = { inputFormat: 'json', drawFileList: true, matching: 'none', highlight: true,  outputFormat: 'side-by-side' };
        const diff2htmlUi = new Diff2HtmlUI(targetElement, diff, configuration);
        diff2htmlUi.draw();
        diff2htmlUi.highlightCode();
    }

</script>

</body>
</html>
