<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/script %>

    <link rel="stylesheet" href="/stylesheets/jstree.style.min.css" />
    <script src="/javascript/jstree.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/diff.css">

   <!-- <link href="/stylesheets/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet"> needed?? -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="/stylesheets/text_search_style.css">



    <% include partials/head %>
</head>
<body>

<div class="row">
    <div class="column">
        <br id="main-container" style="padding-left: 50px">
        <% include partials/menu %>
    </div>
</div>

<div class="ui equal width grid ">


        <div style="width: 40%;">
            <div style="word-wrap: break-word;flex: inherit"  id="container" class="ui segment raised text large"></div>
        </div>


        <div style="width: 40%">
            <div id="container2" class="ui segment raised text large"></div>
        </div>

    <div style="width: 10%; padding-top: 3%; ">
        <div id="diff_button_back" class="ui green huge right labeled icon button">
            <i class="right arrow icon"></i>
            Diff files
        </div>
    </div>
</div>



<div class="ui one column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column"><div style="width:95%" id="diff_container"></div></div>
        <div class="column"></div>
    </div>
</div>


<script>

    /* diffar en fil i taget...
        <div style="width: 10%; padding-top: 3%; ">
        <div id="diff_button" class="ui green huge right labeled icon button">
            <i class="right arrow icon"></i>
            Diff files
        </div>
        </div>
     */



    var filedata = JSON.parse('<%- JSON.stringify(jstree) %>');

    console.log(filedata)

    $('#container').jstree({
        'core' : {

            "themes" : {
                "variant" : "large"
            },
          'multiple' : true,
          'data' : filedata
        },

        "checkbox" : {
            "keep_selected_style" : true
        },
        "plugins" : [ "checkbox" ]
    });

    $('#container2').jstree({
        'core' : {

            "themes" : {
                "variant" : "large"
            },
            'multiple' : true,
            'data' : filedata
        },

        "checkbox" : {
            "keep_selected_style" : true
        },
        "plugins" : [ "checkbox" ]
    });

    $( "#diff_button_back" ).click(function() {

        // empty first
        $('#diff_container').empty()

        var first_list  = $('#container').jstree(true).get_selected();
        var second_list = $('#container2').jstree(true).get_selected();

        var result_first  = first_list[0]
        var result_second = second_list[0]

        console.log("fil1: " + result_first)  // får: Array [ "data/reff1/YYYY-MM-DD_TT-TT-TT_Longname_number10wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww/original-data-structure-errors.json" ]
        console.log("fil2: " + result_second)

        var return_first;

        function callback(response) {
            return_first = response;
            //use return_first variable here

            if (typeof return_first !== "undefined")
            {
                console.log("Filen som kommer tillbaka: " +return_first) // git comp filen skickas tillbaka.. men jag borde nog ta html filen istället..!

                $('#diff_container').append(return_first)
            }
        }

        var rest_parameters = "difffile?firstfolder="+ result_first + "&secondfolder=" + result_second

        console.log(rest_parameters)

        $.ajax({
            type: 'GET',
            url: rest_parameters,
            'success': function(data){
                callback(data);

            },
            error: function(xhr, status, err) {
                console.log(xhr.responseText);
            }
        });

    });


    // lösning kanske...
    // https://stackoverflow.com/questions/46994947/semantic-overriding-my-dropdown-menu-making-it-big
/*
    function makeDiff(firstFile, secondFile, targetId)
    {
        var return_first;
        var return_second;

        function callback(response) {
            return_first = response;
            //use return_first variable here
        }

        function callback_second(response) {
            return_second = response;
            //use return_first AND return_second variable here
            createDiff(JSON.stringify(return_first, null, 1),JSON.stringify(return_second, null, 1),targetId)
        }


        // set URL different...NOT static...get url used right now..
        $.ajax({
            type: 'GET',
            url: firstFile,
            'success': function(data){
                callback(data);

                $.ajax({
                    type: 'GET',
                    url: secondFile,
                    'success': function(data){
                        callback_second(data);
                    },
                    error: function(xhr, status, err) {
                        console.log(xhr.responseText);
                    }
                });
            },
            error: function(xhr, status, err) {
                console.log(xhr.responseText);
            }
        });
    }


    function createDiff(one, other, targetId){

        const targetElement = document.getElementById(targetId);

        // rubrik                kan va vad som helst...

        // TODO.. sätt in riktiga filnamn...bättre...
        var comp = JsDiff.createPatch('fileName', one, other, 'oldHeader', 'newHeader');



        const configuration = { inputFormat: 'json', drawFileList: true, matching: 'none', highlight: true,  outputFormat: 'side-by-side' };
        const diff2htmlUi = new Diff2HtmlUI(targetElement, comp, configuration);
        diff2htmlUi.draw();
        diff2htmlUi.highlightCode();
    }
*/

</script>

</body>
</html>
