.contact-background-image {
    background-image: url("../img/cam.jpg");
}

.imuststyle {
    float: left;
}

.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
}
.splitscreen .right {
    flex: 1;
}


.FixedHeightContainer
{
    height: 250px;
}
.Content
{
    height:250px;
    overflow:auto;
}
