.large.text {
    font-size: 1.6rem !important;
}


#chart {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}


text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #aaa;
}



body {
    margin-left: 50px !important;
}


.bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 10px !important;
      padding-bottom: 70px !important;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }
